@using MudBlazor
@using SharedComponents

@inherits StylableComponentBase

@if (Character is not null)
{
    <MudForm Model=@Character Validation="@(CharacterValidator.ValidateValue)" @ref=_mainForm FieldChanged="NotifyChangedAsync" Class="@("h-100" + Class)" Style=@Style>
        <MudPaper Class="d-flex flex-column h-100 pa-4" Elevation="2" Square>
            <MudText Class="mb-3" Typo="Typo.h5"> Abilities </MudText>
            <div class="overflow-y-auto">
                @foreach (var abilityScore in Character.AbilityScores)
                {
                    <AbilityScoreEditorComponent 
                        Character="@Character" AbilityScore="@abilityScore" OnChanged="NotifyChangedAsync" Class="py-2" />
                }
                    <MudNumericField
                        HideSpinButtons="true" Label="Mastery bonus" @bind-Value="@Character.AbilityScores.MasteryBonus" For="@(() => Character.AbilityScores.MasteryBonus)" Immediate="true"/>
            </div>
        </MudPaper>
    </MudForm>
}