@using MudBlazor
@using DnDFightTool.Domain.DnDEntities.AbilityScores
@using SharedComponents

@inherits StylableComponentBase;

@if (Character is not null && AbilityScore is not null)
{
    <MudForm Model=AbilityScore Validation="@(AbilityScoreValidator.ValidateValue)" FieldChanged="NotifyChangedAsync"
        Class=@Class Style=@Style>
        <div class="d-flex gap-3 align-items-center">
            <AbilityChip 
                Class="mr-5"
                Ability=@AbilityScore.Ability
                BadgeContent=@Character.AbilityScores.ModifiersString(AbilityScore)
                Variant=@((AbilityScore.HasMastery ? Variant.Filled : Variant.Outlined))
                Color=Color.Primary
                OnClick="() => AbilityScore.HasMastery = !AbilityScore.HasMastery" />
            <MudNumericField Label="Ability score" HideSpinButtons="true" @bind-Value="@AbilityScore.Score" For="@(() => AbilityScore.Score)" Immediate="true" />
            <MudNumericField Label="Save bonus" HideSpinButtons="true" @bind-Value="@AbilityScore.ArbitrarySaveModifier" For="@(() => AbilityScore.ArbitrarySaveModifier)" Immediate="true" />
        </div>
    </MudForm>
}