@using DnDFightTool.Domain.Fight;

<div class="character-tile-wrap" @onclick="TileClicked">
    <Card Color="@CardTheme" BorderRadius="@_borderRadius">
        <div class="character-tile">
            @if (_character == null)
            {
                <p> Character not found </p>
            }
            else
            {
                <div class="character-tile-header">
                    @_character.Name
                </div>
                <div class="character-tile-hps">
                    @_character.HitPoints.HpRatioString
                </div>

                <div class="applied-statuses">
                @foreach (var appliedStatus in AppliedStatusCollection.GetStatusAppliedTo(_character.Id))
                {
                    <div> @appliedStatus.Name </div>
                }
                </div>
            }
        </div>
    </Card>
</div>
