@using DnDFightTool.Domain.Fight;

<div class="character-tile-wrap" @onclick="TileClicked">
    <Card Color="@CardTheme" BorderRadius="@BorderRadius">
        <div class="character-tile">
            @if (Character == null)
            {
                <p> Character not found </p>
            }
            else
            {
                <div class="character-tile-header">
                    @Character.Name
                </div>
                <div class="character-tile-hps">
                    @Character.HitPoints.HpRatioString
                </div>

                <div class="applied-statuses">
                @foreach (var appliedStatus in AppliedStatusCollection.GetStatusAppliedTo(Character.Id))
                {
                    <div> @appliedStatus.Name </div>
                }
                </div>
            }
        </div>
    </Card>
</div>
