@using NeoBlazorphic.StyleParameters


<Card ShadowPosition="ShadowPosition.In" Padding="Spacing._0" TextSelectable="false">
    <div style="margin: 1em">
        
        @foreach (var charac in _model)
        {
            <div class="characteristic-row">
                <div class="characteristic-field">
                    <IntInput LabelSizePx="50" ValidateOnKeyPress="true" LabelPosition="ElementRelativePosition.Left" Label="@charac.Name" @bind-Value="charac.Value" ValidationFor="@(() => @charac.Value)"></IntInput>
                </div>
                <div class="characteristic-modifier" style="min-width: 48px; max-width: 48px; min-height: 48px; max-height: 48px; margin-left: 13px;">
                    <Card TextSelectable="false" BorderRadius="@GetBonusMarkerBorderRadius()">
                        @{
                            var value = charac.Value / 2 - 5;
                            var label = value >= 0 ? $"+{value}" : $"{value}";
                        }
                        @label
                    </Card>
                </div>
            </div>
        }
        
@*       <div class="characteristic-row">
           <IntInput ValidateOnKeyPress="true" LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model._dummy.Name" @bind-Value="_model._dummy.Value" ValidationFor="@(() => @_model._dummy.Value)"></IntInput>
           <div>
               +1
           </div>
       </div>*@


       @*        <div class="characteristic-row">
            <IntInput LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model[0].Name" @bind-Value="_model[0].Value" ValidationFor="@(() => @_model[0].Value)"></IntInput>
            <div>
                +1
            </div>
        </div>
        <div class="characteristic-row">
            <IntInput LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model[1].Name" @bind-Value="_model[1].Value" ValidationFor="@(() => _model[1].Value)"></IntInput>
            <div>
                +1
            </div>
        </div>
        <div class="characteristic-row">
            <IntInput LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model[2].Name" @bind-Value="_model[2].Value" ValidationFor="@(() => _model[2].Value)"></IntInput>
            <div>
                +1
            </div>
        </div>
        <div class="characteristic-row">
            <IntInput LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model[3].Name" @bind-Value="_model[3].Value" ValidationFor="@(() => _model[3].Value)"></IntInput>
            <div>
                +1
            </div>
        </div>
        <div class="characteristic-row">
            <IntInput LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model[4].Name" @bind-Value="_model[4].Value" ValidationFor="@(() => _model[4].Value)"></IntInput>
            <div>
                +1
            </div>
        </div>
        <div class="characteristic-row">
            <IntInput LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model[5].Name" @bind-Value="_model[5].Value" ValidationFor="@(() => _model[5].Value)"></IntInput>
            <div>
                +1
            </div>
        </div>*@
    </div>
</Card>

@code
{
    [Parameter]
    public CharacterSheet.CharacteristicDummy[] _model { get; set; }
    //public CharacterSheet.CharacterDummy _model { get; set; }

    public int Score { get; set; } = 0;
}
