@using System.ComponentModel.DataAnnotations
@using System.Security.Cryptography.X509Certificates
@using Characters.Characteristics
@using Characters.Characteristics.Validation
@using NeoBlazorphic.StyleParameters
@using PeterLeslieMorris.Blazor.Validation
@using DnDBlazorComponents.Characteristics.AbilityScores

<h1>
    Character Sheet
</h1>

<EditForm Model="_model">
    <Validate />
    @*<DataAnnotationsValidator />*@

    <div class="character-sheet">
        <div class="character-sheet-header">
        
            <h1> HEADER </h1>

        </div>
        <div class="character-sheet-body">
            
                <AbilityScoresEditableList Model="_model.AbilityScores"></AbilityScoresEditableList>

            <h1> BODY </h1>
            
            <p>
                <!-- Works as expected when using InputNumber which is the default from Blazor -->
                @*<label>inner thing </label>
                <IntInput @bind-Value="@_model._dummy.Value" ValidateOnKeyPress="true" ValidationFor="@(() => _model._dummy.Value)" />*@
                @*<ValidationMessage For="@(() => _model._dummy.Value)"/>*@
            </p>

            
            <p style="color:black">
                <label> walue </label>
                <InputNumber @bind-Value="@_model.Walue">  </InputNumber>
                <ValidationMessage For="@(() => _model.Walue)" />
            </p>

            @*<IntInput ValidateOnKeyPress="true" LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="@_model._dummy.Name" @bind-Value="_model._dummy.Value" ValidationFor="@(() => @_model._dummy.Value)"></IntInput>*@

            <p /><p />

            @*<IntInput ValidateOnKeyPress="true" LabelSizePx="50" LabelPosition="ElementRelativePosition.Left" Label="VALUE" @bind-Value="_model.Walue" ValidationFor="@(() => @_model.Walue)"></IntInput>*@
            
            

            <button type="submit">Save</button>

        </div>
    </div>

</EditForm>

@code
{
    public CharacterDummy _model = new CharacterDummy();

    public class CharacterDummyValidator : AbstractValidator<CharacterDummy>
    {
        public CharacterDummyValidator()
        {
            RuleFor(x => x.AbilityScores).SetValidator(new AbilityScoresValidator());
            RuleFor(x => x.Walue).InclusiveBetween(1, 30);

        }

    }
   
    public class CharacterDummy
    {
        public AbilityScores AbilityScores { get; set; } = new AbilityScores();

        public int Walue { get; set; } = 13;

    }
}
